<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
</head>
<body>
    <h1> Edit <%= car.carName%> </h1>

    <form action="/cars/<%= car._id%>?_method=PUT" method="POST">

        
        <label for="carName">Car Name:</label>
        <input type="text" name="carName" id="carName" value="<%= car.carName %>" />

        <label for="okToDrive">Ok to Drive ?</label>
        <input type="checkbox" name="okToDrive" id="okToDrive" <% if(car.okToDrive) { %>checked<% } %>>


        <button type="submit">Update Car</button>
    </form>

    <a href="/cars">Back to Cars</a>
</body>

<%- include('../partials/footer') %>

</html>