<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Car</title>
    <link rel="stylesheet" href="/css/global.css">
    <script src="https://kit.fontawesome.com/5aa5c57aae.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="header-container">
        <a href="/cars"><i class="fa-solid fa-chevron-left"></i>  Back to Cars</a>
    </div>

    <div class="container">
        
        <div class="new-car-container">
            <h1>Add a New Car!</h1>
            <form action="/cars" method="POST">
                <label for="carName"><span style="color: red;">*</span>Car Name:</label>
                <input type="text" name="carName" id="carName" autocomplete="off" required/>


                <div class="checkbox-container">
                    <input type="checkbox" name="okToDrive" id="okToDrive" > <label for="okToDrive">Ok to Drive?</label>
                </div>
                


                <button type="submit">Add Car</button>

            </form>
        </div>
    </div>

    
</body>
<%- include('../partials/footer') %>
</html>